* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.intro {
    font-size: 20px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

.description {
    font-size: 22px;
    margin-bottom: 30px;
}

.button {
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 14px 25px;
    border-radius: 8px;
}
.about {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    font-size: 18px;
    line-height: 1.8;
}
.skills {
    padding: 100px 20px;
    text-align: center;
}

.skills h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.skills li {
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
}
.projects {
    padding: 100px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.project-card {
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 15px;
}

.project-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 16px;
    line-height: 1.6;
}
.contact {
    padding: 100px 20px;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact a {
    display: inline-block;
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 12px 22px;
    margin: 5px;
    border-radius: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar h2 {
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {

    .navbar {
        padding: 20px;
        flex-direction: column;
        gap: 15px;
    }

    .navbar ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
    }

    .description {
        font-size: 18px;
    }

}
